/* 初始化页面 */
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  outline: none;
  color: black;
  letter-spacing: 0.1em;
}
h1 {
  margin: 0px;
}
body {
  margin: 0px;
  height: 100%;
  /*  */
}
html {
  height: 100%;
}
header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #ffffff;
  z-index: 1;
}
header > .logo {
  width: 150px;
  height: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
}
header > .logo > a {
  display: block;
  height: 100%;
  text-align: center;
}
header > nav {
  height: 100%;
}
header > nav > ul {
  margin: 0px;
  padding: 0px;
  float: left;
}
header > nav > ul > li {
  box-sizing: border-box;
  float: left;
  /* background-color: aqua; */
  height: 100%;
  line-height: 60px;
  padding: 0px 20px;
}
header > nav > ul > li:hover {
  cursor: pointer;
}
header > .search {
  height: 30px;
  /* border: 20px; */
  outline: 0px;
  outline-color: white;
}
header .search-lists > option {
  width: 190px;
  background-color: aliceblue;
  color: aqua;
}
header > .link {
  float: left;
}
header > .right {
  float: right;
}
header > .right > ul > li {
  width: 80px;
  transition: width 0.5s;
}
header > .right > ul > li .list {
  width: 30px;
  border: 2px solid black;
  border-radius: 2px;
  margin-bottom: 8px;
}
header > .right > ul > li .list:last-child {
  margin: 0px;
}
header > .right > ul > li a > div {
  height: 32px;
  /*add*/
  padding-top: 14px;
}
header > .right > ul > li a > div paddi > div:hover .list {
  border-color: #a7ee8c;
}
header > .right > ul > li:first-child {
  height: 60px;
  margin: 0px;
  overflow: hidden;
}
header > .right > ul > li:first-child span {
  box-sizing: border-box;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  height: 56px;
  vertical-align: middle;
}
header > .right > ul > li:first-child span img {
  margin-top: 14px;
}
header > .right > ul > li:first-child input {
  box-sizing: border-box;
  padding-left: 10px;
  outline: 0px;
  height: 40px;
  border: 1px solid #d9dce3;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 18px;
  width: 165px;
}
header > .right > ul > li:hover .list {
  border-color: #6f6f6f;
}
