.container{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    min-height: 90%;
    background-color: azure;
}
.container>.left{
    box-sizing: border-box;

    float: left; 
    
    width: 70%;
    background-color: bisque;
}
.container>.right{
    box-sizing: border-box;
    float: left; 
    /* height: 100%; */
    width: 30%;
    background-color: rgb(112, 106, 99);

}
.container>.right::after{
    clear: both;
}