html,body{
    height: 100%;
}

.login-container{

    width: 340px;
    height: 300px;
    background-color: #BBC9B5;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    /* transform: translate(-50%); */
    padding: 20px;
}
.login-container h1{
    display: block;
    text-align: center;
    padding-bottom: 20px;
}
input[type='text']{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left:10px; 
    margin-bottom: 15px;
    box-sizing: border-box;
}

.button{
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    width:100%;
    height: 40px;
    margin-bottom: 15px;
    border: 0px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
.button-login{
    background-color: #88E072;
}
.button-login:hover{
    background-color: #70BD5D;
}

.button-sign{
    background-color: white;
    color: black;
}
.button-sign:hover{
    background-color: rgb(248, 141, 122);
}
